{% extends 'mailing/base.html' %}

{% block title %}Удаление{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <h4>Вы уверены, что хотите удалить {{object.first_name}} {{object.last_name}}?</h4>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'mailing:home' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
