{% extends 'mailing/base.html' %}

{% block title %}Начало рассылки{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <h4>Вы уверены, что хотите запустить рассылку?</h4>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Запустить</button>
            <a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}