{% extends 'mailing/base.html' %}

{% block title %}Пользователи сервиса{% endblock %}

{% block content %}
<h1>Пользователи сервиса</h1>
<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
            {% for user in object_list %}
            <tr>
                <th scope="row">{{ user.pk }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'users:user_update' user.pk %}" class="btn btn-light">Изменить</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}